- name: Add Docker GPG apt Key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu bionic stable
    state: present

- name: ensure custom facts directory exists
  become: yes
  file:
    path: /etc/docker
    owner: root
    group: root
    mode: 755
    state: directory
    recurse: yes

- name: Allow insecure registry
  become: yes
  copy:
    src: daemon.json
    dest: /etc/docker/daemon.json
    owner: root
    group: root
    mode: 755

- name: Install docker packages
  apt: name={{ item }} state=latest update_cache=yes
  loop: [ 'apt-transport-https', 'ca-certificates', 'curl', 'gnupg-agent', 'software-properties-common', 'docker-ce', 'docker-ce-cli', 'containerd.io']

- name: Enable docker-engine on boot
  service: name=docker enabled=yes
