version: '3.2'
services:
########################################
# DNS Server
########################################
  dns-server:
    image: cytopia/bind:latest
    container_name: dns-server
    environment:
      - WILDCARD_DNS=host=172.22.101.1,control=172.22.101.100,master=172.22.101.101,worker=172.22.101.102,devcloud=172.22.101.101
    ports:
     - "172.22.101.1:53:53/tcp"
     - "172.22.101.1:53:53/udp"

########################################
# Elastic Search
########################################
  elasticsearch:
    image: elasticsearch:7.6.2
    container_name: elasticsearch
    command: elasticsearch
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - cluster.name=playground
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - http.port=9200
      - http.cors.allow-origin="*"
      - http.cors.enabled=true
      - http.cors.allow-headers=X-Requested-With,X-Auth-Token,Content-Type,Content-Length,Authorization
      - http.cors.allow-credentials=true
    ports:
     - "9200:9200"
     - "9300:9300"

  kibana:
    image: kibana:7.6.2
    container_name: kibana
    ports:
      - "5601:5601"
########################################
# Docker Registry
########################################
  docker-registry:
    image: registry:2
    container_name: registry
    restart: always
    ports:
      - 5555:5000
